<%= form_with model: [ @post, @post.comments.build ], data: { turbo_frame: "new_comment" } do |form| %>
  <p class="my-3">
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter, class: "form-control" %>
  </p>
  <p class="my-3">
    <%= form.label :body %><br>
    <%= form.text_area :body, class: "form-control" %>
  </p>
  <p>
    <%= form.submit class: "btn btn-primary mt-3" %>
  </p>
<% end %>
